#countLabel{
    display:block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 2em;
    color:white;
    background-color: rgb(43, 18, 211);
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 1s;
}

.buttons:hover{
    background-color: rgb(0, 255, 115);
}

